 *{
     margin:0;
     padding:0;
 }
 body{
    background-color :aliceblue; 
     display: flex;
    flex-direction: column;
    
     justify-content: center; 
     align-items: center;
} 


p{
    max-width: 600px;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: larger;
    
}
.Item{
    display: inline-block;
    padding: 3px;
    font-size: large;
}

hr{
    /* border-top: 1px solid grey; */
    width: 30%;
    /* padding-top: 15px;; */
    margin-top: 20px;
} 
.ProfilePic{
    width: 100px;
    border-radius: 30px;
}

.cellpadding{

    padding: 20px;
}

a{
    margin-top: 10px;
    text-decoration: none;
    background-color: khaki;
    border-radius: 10px;
    color:rgb(11, 61, 53);
    padding: 10px;
    
}
a:hover{
    color:#881337;
    background-color:#bef264;
}

h1,h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 15px;
}

#navContainer{
        margin-top: 20px;
        position: sticky;
}


.userQuery{
    display: flex;
    flex-direction: column;
}

.formInput{
    border-radius: 30px;
    padding:7px;
    text-decoration: none;
    border-style: hidden;
    
}

.header{
    height: 70px;
    width: 100%;
    background-color: lightblue;
    padding-top: 20px;
    
   
}
.Heading{
    text-align: center;
    align-content: center;
    
}
.header{
    height: 70px;
    width: 100%;
    background-color: lightblue;
    padding-top: 20px;
    
}
