 body{
    background-color :aliceblue; 
     display: flex;
    flex-direction: column;
    
     justify-content: center; 
     align-items: center;
} 


p{
    max-width: 600px;
    margin: auto;
    
}

hr{
    border-top: 1px solid grey;
    width: 30%;
} 
.ProfilePic{
    width: 100px;
    border-radius: 30px;
}

.cellpadding{

    padding: 20px;
}

a{
    margin-top: 10px;
    text-decoration: none;
    background-color: khaki;
    border-radius: 10px;
    color:rgb(11, 61, 53);
    padding: 10px;
    
}
a:hover{
    color:#881337;
    background-color:#bef264;
}

h1,h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: larger;
}

#navContainer{
        margin-top: 20px;
        position: sticky;
}
